<div class="container">
    <div id="jumb-best" class="jumbotron">
        <h1 class="display-4">STD-KUNSTSCHMIEDE</h1>
        <br>
        <h2 class="display-4">{{'Home.describe' | translate}}</h2>
        <br>
        <p class="lead">
            <a routerLink="/register">
                <button type="button" class="buttn">{{'Home.start' | translate}}</button>
            </a>
        </p>
    </div>


</div>

<div class="container-fluid">
    <div class="container all">
    </div>
</div>

<div id="bg"></div>