
.container-fluid{
   /* background-color: rgb(247, 247, 247); */
   background-color: #1c1c1c;
   width: 100%;
   z-index: 1;
   position: relative;
   -webkit-box-shadow: 0px -6px 10px 0px rgba(0,0,0,0.67);
   -moz-box-shadow: 0px -6px 10px 0px rgba(0,0,0,0.67);
   box-shadow: 0px -6px 10px 0px rgba(0,0,0,0.67);
}

ng5-slider{
    width: 100%;
}

.custom-slider{
    display: grid;
    width: 500px;
    position: relative;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-selection {
    border: none!important;
    background:  rgb(48, 109, 165);
  }

::ng-deep .ng5-slider-pointer{
    background-color: rgb(59, 147, 230) !important;
  }


#video-trailer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
} 

#info-background{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    background: rgba(0, 0, 0, 0.5);
}

#sort-genre{
    padding: 20px;
    width: 500px;
}

.conditions{
    padding: 0px;
    margin: 0px;
}

#condit-menu{
    min-height: 300px;
    text-align: center;
    padding: 20px;
    margin: auto;
}

.container{
    padding: 0px;
    -webkit-box-shadow: 0px 11px 10px -4px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 11px 10px -4px rgba(0,0,0,0.64);
    box-shadow: 0px 11px 10px -4px rgba(0,0,0,0.64);
}
.movies{
    /* background-color: white; */
    background-color: #2c2c2c;
    position: relative;
    text-align: center !important;
    min-height: 400px;
}

#empty{
    font-family: 'Montserrat';
    color: #5a5a5a;
    font-size: 25px;
}

/* .push{
    height: 100vh;
    position: relative;
    z-index: -2;
} */

ul{
    list-style-type: none;
    margin: 0px !important;
    padding: 0px !important;
}

.add-btn, .info-btn{
    position: absolute;
    z-index: 2;
    bottom: 0;
    margin: 10px !important;
    border-radius: 40px; 
    font-weight: bold;
    height: 48px;
    width: 48px;
    transition: 0.3s;
}

.add-btn{
    left: 0;
}

.info-btn{
    right: 0;
}

.condition-menu{
    position: relative !important;
    transform: none !important;
    height: 300px;
}

#btnSort{
    width: 100%;
}

.btnSort{
    width: 100%;
}

.btnAccSort{
    width: 50%;
}
.btn{
    background: none;
    color: rgb(59, 147, 230);
    border: 2px solid rgb(59, 147, 230);
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    height: 50px;
    border-radius: 0px 0px 3px 5px;
  }
  
  .btn:hover{
    color: #fff;
  }
  
  .btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgb(59, 147, 230);
    z-index: -1;
    transition: 0.8s;
  }
  .btn::before{
    top: 0;
    border-radius: 0 0 50% 50%;
  }
  
  .btn:hover::before{
    height: 200%;
  }

  .gen-btn{
    height: unset;
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    border-radius: 0px;
}
