@keyframes jmb_anim {
    from 
    {
        top: -40px;
        opacity: 0%;
    }
    to 
    {
        top: 0px;
        opacity: 100%;
    }
}

#logo
{
    width: 80px;
}

.logo{
    fill: white;
}

#flag
{
    width: 30px;
}
.navbar , .navbar-inverse , .logo , .logo-inverse ,.nav-item 
, .nav-item-inverse:after , .nav-link , .nav-link-inverse {
    transition: all 0.2s;
}
.navbar{
    z-index: 10;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-inverse{
    background-color: white;
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.3);
}

.logo-inverse{
    fill: #56A9F1;
}

.nav-item-inverse:after{
    border-bottom: 1px solid #2C3947 !important;
}

.nav-link-inverse{
    color: #2C3947 !important;
}
.navbar-nav{
    opacity: 100% !important;
}

.navbar-brand{
    position: relative;
    /* position: absolute;
    left: 42%;
    top: 0;
    display: block;
    padding-top: 10px; */
        
}
.nav-link{ 
    padding-bottom: 0px !important;
}
.nav-item{
    position: relative;
}

.nav-item:after{
    border-bottom: 1px solid white;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    transition: all 0.5s;
}

.nav-item:hover:after{
    right: 0;
}

#langButton{
    background-color: transparent;
    padding: 3px !important;
}

.dropdown-item{
    padding: 4px;
    outline:none !important;
}

.dropdown-item:hover, .dropdown-item:focus{
    background-color: rgb(0, 0, 0, 0) !important; 
}




@media (min-width: 992px){
    .navbar {
        padding-left: 15%;
        padding-right: 15%;
    }
}