<div class="footer page-footer font-small blue pt-4">

    <div [ngStyle]="footerStyles()" class="container-fluid text-center text-md-left">

        <div class="row">
            <div class="menu">
                <a class="menu-item" routerLink="/"><strong>Strona główna •</strong></a>
                <a class="brand" routerLink="/">FILMEXD</a>
                <a class="menu-item" routerLink="/register"><strong>• Rejestracja</strong></a>
            </div>
        </div>

    </div>

    

</div>
<div *ngIf="!this.user.fooStyle" id="footer-bottom" class="container-fluid text-center">
        <div class="row">
            <h6>Strona została zrealizowana w ramach zaliczenia przedmotu "Programowanie aplikacji biznesowych" przez Radosława Śliwkę i Kamila Kuberskiego.</h6>
            <h6>Większość danych pochodzących z bazy filmów należy do serwisu <a href="https://www.filmweb.pl">FilmWeb</a>!</h6>                     
        </div>
</div>